<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add New Task</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="addTaskForm">
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="title">Task Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="description">Task Description</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
              rows="5"
              required
            ></textarea
            >
          </div>
          <div class="form-group mb-3">
            <label for="date">Date</label>
            <input
              type="date"
              class="form-control"
              id="date"
              name="date"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" id="addTask">
            Add Task
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
