<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Task</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="updateTaskForm">
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="updateUsername">Username</label>
            <input
              type="text"
              class="form-control"
              id="updateUsername"
              name="updateUsername"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="updateTitle">Task Title</label>
            <input
              type="text"
              class="form-control"
              id="updateTitle"
              name="updateTitle"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="updateDescription">Task Description</label>
            <textarea
              class="form-control"
              id="updateDescription"
              name="updateDescription"
              rows="5"
              required
            ></textarea
            >
          </div>
          <div class="form-group mb-3">
            <label for="updateDate">Date</label>
            <input
              type="date"
              class="form-control"
              id="updateDate"
              name="updateDate"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" id="updateTask">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
